@model  KdDataResponse<BidNotice>
@{
    Layout = null;
}


@using (Html.BeginPageTitle())
{
    @Html.BbBtnLinkAdd()
    @Html.BbBtnGridDelete(this.Model)
}

@using (Html.BeginDataGrid())
{
    using (Html.BeginNavBreadcrumbWithSearch(this.Model, true))
    {
        @Html.BbSearchFor(x => x.PrjName)
        @Html.BbSearchFor(x => x.ChangeContent)
    }
    using (Html.BeginDataTable())
    {
        using (Html.BeginDataTableHeader(true))
        {
            @Html.BbTHeadFor(x => x.PrjCode)
            @Html.BbTHeadFor(x => x.PrjName)
            @Html.BbTHeadFor(x => x.ChangeContent)
            @Html.BbTHeadFor(x => x.ChangePerson)
            @Html.BbTHeadFor(x => x.ChangeDate)
        }

        using (Html.BeginDataTableBody())
        {
            foreach (BidNotice item in Model)
            {
                using (Html.BeginDataTableRow(item, true))
                {
                    <td>@item.PrjCode</td>
                    <td>@Html.ActionLink(item.PrjName, "Edit", new { id = item.Id })</td>
                    <td>@item.ChangeContent</td>
                    <td>@item.ChangePerson</td>
                    <td>@item.ChangeDate</td>
                }
            }
        }
    }
}